<div class ="title">
    <div class='display'>


        <app-time-display [inputData]="present">
            <h1>
                룰루랄라
            </h1>
        </app-time-display>
            
        <!-- <app-buttons (clickEvent)="startTime($event)"> </app-buttons> -->
        <!-- <app-time-display></app-time-display>
        <app-time-display></app-time-display>
        <app-time-display></app-time-display>
        <app-time-display></app-time-display>
        -->
        <!-- <hr>
        {{commandTest}}
        <app-buttons (clickEvent)="commandTest = $event"> </app-buttons>
     -->
     
    
    </div>
    <div class="btn-wrapper display">
        <button (click)="goClock()">
            시계로 이동
        </button>
    </div>

    <!-- /가 없으면 기존 링크 뒤에 작성한 string값이 붙어 들어간다. 지금은 해당 주소에 대한 작업이 없으므로 작업 x -->
    <!-- <a [routerLink]="'/clock'">시계로 이동</a> -->

    <!-- <button (click)="goClock()">
        시계로 이동
    </button> -->
    <!-- <button (click)="pageToggleService.plusCount()">
        숫자확인 테스트
    </button> -->
    <!-- {{pageToggleService.routingCount}} -->

</div>